.treeview {
    padding: 0;
    clear: both;
    width: 100%;
}

.treeview * {
}

.treeview ul {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0 0 1.5em 0;
    list-style-type: none;
}

.treeview ul ul {
    overflow: visible;
    width: auto;
    margin: 0 0 0 0;
    padding: 0 0 0 0.75em;
}


.treeview ul.l {
    border-left: 1px solid;
    margin-left: -1px;
}

.treeview li.cl ul {
    display: none;
}

.treeview li {
    margin: 0;
    padding: 0;
}

.treeview li li {
    margin: 0 0 0 0.5em;
    border-left: 1px dotted;
    padding: 0;
}

.treeview li div {
    position: relative;
    height: 1.5em;
    min-height: 16px;
}

.treeview li li div {
    border-bottom: 1px dotted;
}

.treeview li p {
    position: absolute;
    z-index: 1;
    top: 0.8em;
/ / top: 0.65 em;
    left: 1.75em;
    width: 100%;
    margin: 0;
    border-bottom: 1px dashed;
    padding: 0;
}

.treeview a {
    padding: 0.1em 0.2em;
    white-space: nowrap;
/ / height: 1 px;
}

.treeview a.sc {
    font-family: Arial, sans-serif;
    margin-left: -1em;
    padding: 0;
    text-decoration: none;
}

/* colors */
.treeview li p,
.treeview img.i,
.treeview .sc {
    background: white;
}

.treeview ul.l,
.treeview li p {
    border-color: #f5f5ea;
}

.treeview ul li li,
.treeview ul li li div {
    border-color: #999999;
}

.treeview a,
.treeview a.sc,
.treeview a.sc:hover {
    color: #000000;
}

.treeview a:hover {
    color: #cc0000;
    cursor: pointer;
}

.btn {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}